.webOs-watch {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1.6rem 2rem;
  background-color: rgba(15, 15, 15, 0.3);
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  z-index: 1199;
}
